@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
$main-font: 'Noto Sans', sans-serif;
$navbar-color1: blue;
$navbar-color2: deeppink;
$navbar-color3: orange;
$navbar-color4: green;
$navbar-bg-color: #F5F9FC;
$line-circle1: #32B67A;
$course__item_div-num: #fe4c00;
$triangle-color: #0050F5;
$navbar__lang: #F9F9F9;
$direction__scratch-shape: #0050F5;
$footer-bg-color: #f9f8f7;
$footer-text-color: #607987;
$red-color: #ff4343;
$select-form: gainsboro;
$robot-shape: yellow;
$robot-shape2: orangered;
$black-color: #000000;
$white-color: #ffffff;